<!DOCTYPE html>
<html>

<head>

    <meta http-equiv="Content-Security-Policy" content="default-src 'self' data: gap: https://ssl.gstatic.com 'unsafe-eval' * ws:;style-src 'self' 'unsafe-inline' data: blob:;media-src *;img-src 'self' data: content: *;script-src * 'unsafe-inline' 'unsafe-eval' data: blob:;">
    <meta name="format-detection" content="telephone=no">
    <meta name="msapplication-tap-highlight" content="no">
    <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width">

    <link rel="stylesheet" href="node_modules/angular-material/angular-material.min.css">
    <link rel="stylesheet" type="text/css" href="css/index.css">

    <!-- Angular Material requires Angular.js Libraries -->
    <script src="node_modules/angular/angular.min.js"></script>
    <script src="node_modules/angular-animate/angular-animate.min.js"></script>
    <script src="node_modules/angular-aria/angular-aria.min.js"></script>
    <script src="node_modules/angular-messages/angular-messages.min.js"></script>
    <script src="node_modules/angular-route/angular-route.min.js"></script>

    <!-- Angular Material Library -->
    <script src="node_modules/angular-material/angular-material.js"></script>

    <title>Advent Audio</title>
</head>

<body ng-app="myApp" ng-controller="myCtrl" ng-cloak>
    <md-toolbar class="md-hue-2 md-whiteframe-4dp">
        <div class="md-toolbar-tools" layout="row" layout-align="space-around center">
            <md-button href="#/!" class="md-icon-button" aria-label="Home">
                <md-icon class="material-icon">home</md-icon>
            </md-button>
            <md-button href="#!paris" class="md-icon-button" aria-label="Search">
                <md-icon class="material-icon">search</md-icon>
            </md-button>
            <md-button href="#!london" class="md-icon-button" aria-label="Library">
                <md-icon class="material-icon">local_library</md-icon>
            </md-button>
            <md-button class="md-icon-button" aria-label="Menu">
                <md-icon class="material-icon">menu</md-icon>
            </md-button>
        </div>
    </md-toolbar>
    <br>
    <br>
    <p>status: {{status}}</p>
    <h3 ng-click="showGridBottomSheet()">Open </h3>
    <div ng-view></div>

    <div>
        <md-button ng-show='status == 0 || status == 3' ng-click="playAudio()" class="md-button md-fab md-fab-bottom-right" aria-label="Player">
            <md-icon class="material-icon">play_arrow</md-icon>
        </md-button>
        <md-button ng-show='status == 1 || status == 4' ng-click="stopAudio()" class="md-button md-fab md-fab-bottom-right" aria-label="Player">
            <md-icon class="material-icon spin" ng-show="status == 1">sync</md-icon>
        </md-button>
        <md-button ng-show="status == 2" ng-click="pauseAudio()" class="md-button md-fab md-fab-bottom-right" aria-label="Player">
            <md-icon class="material-icon">pause</md-icon>
        </md-button>
    </div>

    <script type="text/javascript" src="cordova.js"></script>
    <script type="text/javascript" src="js/index.js"></script>

</body>

</html>