<md-content>
    <md-toolbar class="toolbar-header searchBookInput">
        <div class="md-toolbar-tools">
            <md-button class="md-icon-button" aria-label="Search">
                <md-icon class="material-icon">search</md-icon>
            </md-button>
            <md-input-container class="md-block" flex>
                <input ng-model="searchBook" name="searchBook" placeholder="Search">
            </md-input-container>
            <md-button class="md-icon-button" aria-label="Order By Alpha" ng-click="orderByBookName = !orderByBookName">
                <md-icon class="material-icon">sort_by_alpha</md-icon>
            </md-button>
            <md-button class="md-icon-button" aria-label="Sort" href="#!bookStoreFilter">
                <md-icon class="material-icon">sort</md-icon>
            </md-button>
        </div>
    </md-toolbar>
    <br>
    <br>
    <!-- | filter: searchBook | orderBy:'f_name':orderByBookName -->
    <md-list>
        <md-virtual-repeat-container  class="bookStoreVirtualContainer">
            <md-list-item class="md-3-line" md-on-demand md-virtual-repeat="item in bookStore"
                ng-click="setBook(item)">
                <img ng-src="{{(item.f_capa) ? config.apiUrl+'/bookreader/default/download/'+item.f_capa : 'img/book_cover.png' }}" class="md-avatar"
                    alt="{{ item.f_name }}" />
                <div class="md-list-item-text">
                    <h3>{{ item.f_name }}</h3>
                    <h4>Nome do Autor</h4>
                    <p padding-right>{{ item.f_livro_size }}B</p>
                </div>
                <md-icon ng-click="showGridBottomSheet()" aria-label="download {{item.name}}" class="md-icon-button md-secondary md-hue-3 material-icon">get_app</md-icon>
            </md-list-item>
        </md-virtual-repeat-container>
    </md-list>
</md-content>