@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url(../fonts/material-icon/MaterialIcons-Regular.eot); /* For IE6-8 */
    src: local('Material Icons'),
      local('MaterialIcons-Regular'),
      url(../fonts/material-icon/MaterialIcons-Regular.woff2) format('woff2'),
      url(../fonts/material-icon/MaterialIcons-Regular.woff) format('woff'),
      url(../fonts/material-icon/MaterialIcons-Regular.ttf) format('truetype');
}

.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;  /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
  
    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;
  
    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;
  
    /* Support for IE. */
    font-feature-settings: 'liga';
}

.spin {
    -webkit-animation-name: spin;
    -webkit-animation-duration: 2000ms;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    -moz-animation-name: spin;
    -moz-animation-duration: 2000ms;
    -moz-animation-iteration-count: infinite;
    -moz-animation-timing-function: linear;
    -ms-animation-name: spin;
    -ms-animation-duration: 2000ms;
    -ms-animation-iteration-count: infinite;
    -ms-animation-timing-function: linear;
    
    animation-name: spin;
    animation-duration: 2000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
@-ms-keyframes spin {
    from { -ms-transform: rotate(360deg); }
    to { -ms-transform: rotate(0deg); }
}
@-moz-keyframes spin {
    from { -moz-transform: rotate(360deg); }
    to { -moz-transform: rotate(0deg); }
}
@-webkit-keyframes spin {
    from { -webkit-transform: rotate(360deg); }
    to { -webkit-transform: rotate(0deg); }
}
@keyframes spin {
    from {
        transform:rotate(360deg);
    }
    to {
        transform:rotate(0deg);
    }
}

.md-button.md-fab.md-fab-bottom-right {
    top: auto;
    right: 10px;
    bottom: 65px;
    left: auto;
    position: fixed;
}
.player { 
    position: fixed;
    padding: 0 0 88px 0;
}
.md-avatar {
    border-radius: 0 !important;
    width: 45px !important;
    height: 60px !important;
}

md-toolbar.toolbar-header{
    position: fixed;
    top: 0
}

md-toolbar.toolbar-footer{
    position: fixed;
    bottom: 0
}
searchBookInput{
    border-color: white
}

.searchBookInput md-input-container.md-dark-indigo-theme:not(.md-input-invalid).md-input-focused .md-input, md-input-container.md-dark-indigo-theme:not(.md-input-invalid).md-input-resized .md-input {
    border-color: white !important;
}
.searchBookInput md-input-container .md-errors-spacer{
    min-height: 0px !important;
}

